@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);
body {
  background:orange;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#particles-js{
  height: 100%;
  background: orange;
  color:#006680;
}
/*#region MENU*/
#container {
  display: none;
  position: absolute;
}
#start {
  height:30px;
  width:30px;
  background:#006680;
  border: 1px solid black;
  border-radius:50px;
  position:Absolute;
  top:-30px;
  z-index:50;
  right:-15px;
  -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  
}
#start:after {
  content:"";
  display:block;
  height:15px;
  width:15px;
  background:transparent;
  border-radius:50px;
  position:absolute;
  top:5px;
  left:5px;
  
  border:3px solid orange;
  border-top-color:transparent;
  
}

#start:before {
  content:"";
  display:block;
  height:10px;
  width:3px;
  background:orange;
  z-index:70;
  position:Absolute;
  right:13px;
  top:6px;
  
}
#circle {
  height:40px;
  width:40px;
  background:transparent;
  border:1px solid white;
  border-radius:50px;
  position:absolute;
  top:-35px;
  z-index:40;
  right:-20px;
  
}

#start:hover {
  background:#7A0000;
  
}



#allthethings {
  width:0px;
  height:0px;
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 300px solid transparent;
  position:absolute;
  margin:auto;
  margin-left: 600px;
  top:5px;
  left:2px;
}

.easy {
  position:relative;
  bottom:330px;
  right:300px;
  height:50px;
  width:600px;
  background:#006680;
  text-align:center;
  font-size:30px;
 background-size: 1px 300%;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:orange;
  font-family:shadows into light;
  cursor:pointer;
}
.clickedEasy{
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  position:relative;
  bottom:330px;
  right:300px;
  height:50px;
  width:600px;
  text-align:center;
  font-size:30px;
  background-size: 1px 300%;
  -webkit-transition:0.5s;
  transition:0.5s;
  font-family:shadows into light;
  

}

.easy:hover {
  background:#7A0000;
  color:white;
-webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);
  
  
}

.medium:hover {
  background:#7A0000;
  color:white;
   
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
  
}

.extreme:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
}

.hard:hover {
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
}

#left {
  height:100px;
    width:600px;
  background:orange;
  position:absolute;
  z-index:6;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  top:-175px;
  right:-104px;
  border-top:1px solid white;
  
}
#right {
  height:100px;
  width:600px;
  background:orange;
  position:absolute;
  top:-229px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  z-index:7;
  left:-56px;
  border-top:1px solid white;
  
  
}



.easy p {
  position:relative;
  top:2px;
  right:4px;
  
  
}

.medium {
  height:50px;
  width:500px;
  background:#006680;
  position:relative;
  bottom:345px;
  right:240px;
  text-align:center;
  font-size:30px;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
}
.clickedMedium{
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  position:relative;
  bottom:345px;
  right:240px;
  height:50px;
  width:500px;
  text-align:center;
  font-size:30px;
  background-size: 1px 300%;
  -webkit-transition:0.5s;
  transition:0.5s;
  font-family:shadows into light;
  

}
.medium p {
  position:relative;
  top:0px;
  right:9px;
  
}

.hard {
  
  height:50px;
  width:400px;
  background:#006680;
  position:relative;
  bottom:360px;
  right:200px;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  
}
.clickedHard{
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  position:relative;
  bottom:360px;
  right:200px;
  height:50px;
  width:400px;
  text-align:center;
  font-size:30px;
  background-size: 1px 300%;
  -webkit-transition:0.5s;
  transition:0.5s;
  font-family:shadows into light;
  

}
.hard p {
  position:relative;
  top:0px;
  right:4px;
  
}

.extreme {
  height:50px;
  width:300px;
  position:relative;
  background:#006680;
  bottom:375px;
  font-size:30px;
  right:150px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  
}
.clickedExtreme{
  background:#7A0000;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  position:relative;
  bottom:375px;
  right:150px;
  height:50px;
  width:300px;
  text-align:center;
  font-size:30px;
  background-size: 1px 300%;
  -webkit-transition:0.5s;
  transition:0.5s;
  font-family:shadows into light;
  

}
.extreme p {
  position:relative;
  top:0px;
  
}
/*#endregion MENU*/
/*#region BOARD*/


#board {
  width: 600px;
  height: 600px;
  border: 10px solid darkgray;
  background-color: lightgray;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  border: 1px solid whitesmoke;

  /* text */
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-clicked {
  background-color: darkgrey;
}

.x1 {
  color: blue;
}

.x2 {
  color: green;
}

.x3 {
  color: red;
}

.x4 {
  color: navy;
}

.x5 {
  color: brown;
}

.x6 {
  color: teal;
}

.x7 {
  color: black;
}

.x8 {
  color: gray;
}

#flag-button {
  width: 100px;
  height: 50px;
  font-size: 30px;
  background-color: lightgray;
  border: none;
}
#restart{
  width: 150px;
  height: 50px;
  font-size: 30px;
  background-color: lightgray;
  border: none;
}
/*#endregion BOARD*/
#app {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  display: none;
}
/*#region FIREWORKS*/

@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

/* @keyframes fireworkPseudo {
  0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}
 */
 .firework,
 .firework::before,
 .firework::after
 {
   --initialSize: 0.5vmin;
   --finalSize: 45vmin;
   --particleSize: 0.5vmin;
   --color1: yellow;
   --color2: khaki;
   --color3: white;
   --color4: lime;
   --color5: gold;
   --color6: mediumseagreen;
   --y: -30vmin;
   --x: -50%;
   --initialY: 45vmin;
   content: "";
   animation: firework 3s infinite;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, var(--y));
   width: var(--initialSize);
   aspect-ratio: 1;
   display: none;
   background: 
     /*
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
     */
     
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
     radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
     radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
     radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
     
     /* bottom right */
     radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
     radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
     radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
     radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
     radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
     
     /* bottom left */
     radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
     radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
     radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
     radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
     radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
     radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
     
     /* top left */
     radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
     radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
     radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
     radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
     radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
     radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
     
     /* top right */
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
     radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
     ;
   background-size: var(--initialSize) var(--initialSize);
   background-repeat: no-repeat;
 }
 
 .firework::before {
   --x: -50%;
   --y: -50%;
   --initialY: -40%;
 /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
   transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
 /*   animation: fireworkPseudo 2s infinite; */
 }
 
 .firework::after {
   --x: -50%;
   --y: -50%;
   --initialY: -50%;
 /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
   transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
   /* animation: fireworkPseudo s infinite; */
 }
 
 .firework:nth-child(2) {
   --x: 30vmin;
 }
 
 .firework:nth-child(2),
 .firework:nth-child(2)::before,
 .firework:nth-child(2)::after {
   --color1: pink;
   --color2: violet;
   --color3: fuchsia;
   --color4: orchid;
   --color5: plum;
   --color6: lavender;  
   --finalSize: 40vmin;
   left: 30%;
   top: 30%;
   animation-delay: -0.25s;
 }
 
 .firework:nth-child(3) {
   --x: -30vmin;
   --y: -45vmin;
 }
 
 .firework:nth-child(3),
 .firework:nth-child(3)::before,
 .firework:nth-child(3)::after {
   --color1: cyan;
   --color2: lightcyan;
   --color3: lightblue;
   --color4: PaleTurquoise;
   --color5: SkyBlue;
   --color6: lavender;
   --finalSize: 35vmin;
   left: 70%;
   top: 50%;
   animation-delay: -0.42s;
 }
  
 .firework:nth-child(4) {
  --x: -30vmin;
  --y: -45vmin;
}

.firework:nth-child(4),
.firework:nth-child(4)::before,
.firework:nth-child(4)::after {
  --color1: rgb(255, 0, 0);
  --color2: rgb(184, 32, 32);
  --color3: rgb(228, 230, 121);
  --color4: rgb(219, 180, 5);
  --color5: rgb(226, 124, 8);
  --color6: lavender;
  --finalSize: 35vmin;
  left: 20%;
  top: 50%;
  animation-delay: -0.37s;
}
.firework:nth-child(5) {
  --x: 50vmin;
}

.firework:nth-child(5),
.firework:nth-child(5)::before,
.firework:nth-child(5)::after {
  --color1: rgb(5, 231, 35);
  --color2: rgba(53, 231, 121, 0.911);
  --color3: rgb(0, 196, 42);
  --color4: rgb(63, 245, 133);
  --color5: rgb(104, 238, 110);
  --color6: lavender;  
  --finalSize: 80vmin;
  left: 70%;
  top: 50%;
  animation-delay: -0.22s;
}
.firework:nth-child(6) {
  --x: 35vmin;
  --y: -30vmin;
}

.firework:nth-child(6),
.firework:nth-child(6)::before,
.firework:nth-child(6)::after {
  --color1: rgb(255, 254, 211);
  --color2: rgba(228, 236, 190, 0.89);
  --color3: rgb(223, 208, 160);
  --color4: rgb(165, 154, 92);
  --color5: rgb(150, 124, 84);
  --color6: lavender;  
  --finalSize: 80vmin;
  left: 15%;
  top: 50%;
  animation-delay: -0.45s;
}
.firework:nth-child(7) {
  --x: 30vmin;
}

.firework:nth-child(7),
.firework:nth-child(7)::before,
.firework:nth-child(7)::after {
  --color1: rgb(139, 64, 173);
  --color2: rgba(247, 88, 233, 0.911);
  --color3: rgb(185, 22, 218);
  --color4: rgb(113, 40, 196);
  --color5: rgb(65, 2, 90);
  --color6: lavender;  
  --finalSize: 80vmin;
  left: 60%;
  top: 50%;
  animation-delay: -0.35s;
}
.firework:nth-child(10) {
  --x: 30vmin;
}

.firework:nth-child(10),
.firework:nth-child(10)::before,
.firework:nth-child(10)::after {
  --color1: rgb(0, 247, 255);
  --color2: rgba(63, 215, 241, 0.911);
  --color3: rgb(74, 241, 219);
  --color4: rgb(0, 255, 242);
  --color5: rgb(245, 252, 255);
  --color6: lavender;  
  --finalSize: 20vmin;
  left: 35%;
  top: 54%;
  animation-delay: -0.4s;
}
.firework:nth-child(8) {
  --x: 60vmin;
  --y: 10vmin;
}

.firework:nth-child(8),
.firework:nth-child(8)::before,
.firework:nth-child(8)::after {
  --color1: rgb(239, 243, 0);
  --color2: rgba(247, 255, 133, 0.911);
  --color3: rgb(193, 231, 87);
  --color4: rgb(96, 202, 35);
  --color5: rgb(40, 236, 220);
  --color6: lavender;  
  --finalSize: 20vmin;
  left: 20%;
  top: 50%;
  animation-delay: -0.70s;
}
.firework:nth-child(9) {
  --x: -60vmin;
  --y: 10vmin;
}

.firework:nth-child(9),
.firework:nth-child(9)::before,
.firework:nth-child(9)::after {
  --color1: rgb(233, 65, 35);
  --color2: rgba(252, 45, 45, 0.911);
  --color3: rgb(252, 85, 56);
  --color4: rgb(238, 105, 81);
  --color5: rgb(217, 233, 0);
  --color6: lavender;  
  --finalSize: 30vmin;
  left: 80%;
  top: 50%;
  animation-delay: -0.35s;
}
/*#endregion FIREWORKS*/
/*#region VICTORY*/

.victory {
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-variant:small-caps;
  font-size: 180px;
  width: 590px;
  -webkit-transform: skew(-15deg,-15deg);
  padding-left: 80px;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  display: none;
}

.victory:before {
  content: '-';
  position: absolute;
  bottom: -98px;
  left: 254px;
  background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
  -webkit-background-clip: text;
  text-shadow: 70px -7px #F3C8F3;
}

.victory:after {
  content: '-';
  position: absolute;
  bottom: -85px;
  left: 395px;
  background-image: -webkit-linear-gradient(#F3C8F3 0%, #F3C8F3 100%);
  -webkit-background-clip: text;
  text-shadow: 70px -5px #F3C8F3;
}

.victory-v {
  position: relative;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
  -webkit-background-clip: text;
  padding-right: 18px;
  margin-right: -18px;
}

.victory-v:before {
  content: '-';
  position: absolute;
  top: -71px;
  left: -71px;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #FC96FC 100%);
  -webkit-background-clip: text;
}

.victory-v:after {
  content: '-';
  position: absolute;
  top: -72px;
  left: 103px;
  background-image: -webkit-linear-gradient(#FF0FF8 0%,  #FC96FC 100%);
  -webkit-background-clip: text;
}
/*#endregion VICTORY*/
/*#region BACK TO MENU*/

.menu-btn {
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-variant:small-caps;
  font-size: 60px;
  margin-top: 500px;
  width: 590px;
  -webkit-transform: skew(-15deg,-15deg);
  padding-left: 80px;
  background-image: -webkit-linear-gradient(#e4b20f 0%,  #fce8cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(2px 2px 20px #ecb63f);
  display: none;
  cursor: pointer;
}
/*#endregion BACK TO MENU*/